.chat-main
  .main-header
    .main-header_left-box
      %h2.main-header_left-box_current-group
        = @group.name
      %ul.main-header_left-box_member-list
        Member:
        %li.main-header_left-box_member-lisr_member
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group), class:"main-header_edit-btn" do
      Edit
  
  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box_text', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'input-box_image' do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box_image_file'
      = f.submit 'Send', class: 'submit-btn'